/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

body{
    padding: 0;
    position: relative;
    font-family: 'Spline Sans', sans-serif !important;
    font-weight: 400 !important;
    background-image: url("../img/fondoimg.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}
/* ----------------------------------DISEÑOS GLOBALES------------------------------------- */
#contentHeader{
    position: relative;
    margin-bottom: 80px;
}
.div-mensaje{
    background: #c42323;
    width: 100%;
    color: #fff;
    text-align: center;
    position: fixed;
    z-index: 2;
    font-size: 12px;
    /* bottom: 0; */
}
.div-mensaje span{
    padding: 6px;
}
.content-vh80{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.content-vh60{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    overflow: hidden;
    position: relative;
}
.content-vh40{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    overflow: hidden;
    position: relative;
}
.content-padding{
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
}

/* ---TITULOS---- */
.header-titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0px;
    align-items: center;
}
.header-titulo p{
    font-size: 16px;
    color: #707070;
}
.titulosBigStatic{
    /* font-size: 68px; */
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInDown;
    animation-duration: 1s;
    font-size: calc(1.375rem + 1.5vw);
}
.titulosBigStatic b{
    color: #c42323;
}
/* ---SUBTITULOS--- */
.subtitulos{
    font-size: 28px;
    margin-bottom: 0px;
}

/* ----PARRAFOS-------- */
.parrafos{
    color: rgb(121, 121, 121);
    animation: fadeInDown;
    animation-duration: 1s;
}
/* ---------BOTONES--------- */
.btnsStatic{
    background: #c81717;
    border: 1px solid #ffffff17;
    padding: 12px 10px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}
.btnsStatic:hover{
    background: #000000;
    color: #fff;
}

/* -------INPUTS---------- */
.inputsLong{
    width: 100%;
}

/* ------- ANUNCIOS-1ITEM ------- */
.div-anuncio-1item{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
/* ------- ANUNCIOS-2ITEM ------- */
.div-anuncio-2item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.anuncios img{
    width: 100%;
    transition: all 0.5s ease;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    animation: fadeInUp;
    animation-duration: 1s;
    box-shadow: rgb(0 0 0 / 7%) 5px 6px 9px 10px;
}

/* MENU MOVIL */
.content-menu-movil{
    background-color: rgba(0, 0, 0, 0.247);
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 3;
    visibility: hidden;
}
.content-menu-movil .menu-movil{
    width: 0%;
    height: 100%;
    background-color: #020000e3;
    max-width: 300px;
    position: relative;
    opacity: 0;
    transition: all 0.5s ease;
}
.content-menu-movil .menu-movil .menu-movil-logo{
    display: flex;
    justify-content: center;
}
.content-menu-movil .menu-movil .menu-movil-logo img{
    height: 80px;
}
.content-menu-movil .menu-movil .menu-movil-items a{
    display: block;
    padding: 10px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
}
.content-menu-movil .menu-movil .menu-movil-items a:hover{
    background: rgb(240, 240, 240);
}

/* MENU PC*/
.content-menu{
    width: 100%;
    height: 80px;
    display: grid;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: fixed;
    z-index: 2;
    /* background-image: linear-gradient(to top, #ff000000, #08000054); */
    background: #000;
    transition: all 0.5s ease;
    top: 0;
}
.content-menu .menu-logo img{
    z-index: 1;
    height: 80px;
}
.content-menu .menu-nav .menu-nav-item{
    padding: 5px 14px;
    cursor: pointer;
    margin: 5px;
    color: #ffffff;
    font-size: 16.5px;
    border-radius: 8px;
    text-decoration: none;
}
.content-menu .menu-nav .menu-nav-item:hover{
    color: #e7e7e7;
}
.content-menu .menu-nav-item-movil{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    display: none;
    position: absolute;
    right: 0;
} 
.content-menu .menu-nav-item-movil i{
    font-size: 32px;
    color: rgb(255, 255, 255);
} 
.content-menu .menu-actions{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 20px;
}
.content-menu .menu-actions i{
    font-size: 22px;
    color: #fff;
}

/* ----------------------------------DIV-BANNER-------------------------- */
.div-banner{
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 80px;
}
.div-banner .sli{
    margin-bottom: 0px !important;
}
.div-banner .sli img{
    width: 100%;
}
.div-banner .redes{
    position: absolute;
    left: 0px;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 20px; */
    padding: 10px;
    background: #00000073;
    width: 100%;
    color: #fff;
}
.div-banner .redes a{
    color: #fff;
    font-size: 22px;
}

/* ---------------------------DIV-FIGURAS------------------------------- */
.div-figuras{
    /* display: flex; */
    align-items: center;
}
.figuras{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    /* width: 100%; */
}
.div-figuras .figuras .figura{
    /* box-shadow: rgb(0 0 0 / 4%) 2px 2px 8px 1px; */
    border: 1px solid rgb(239 239 239);
    animation: 1s ease 0s 1 normal none running fadeInUp;
    transition: all 0.5s ease 0s;
    /* max-width: 260px; */
    border-radius: 6px;
    height: fit-content;
    background: #fff;
}
.div-figuras .figuras .figura:hover{
    transform: translateY(-10px);
    box-shadow: 5px 3px 2px 2px rgb(0 0 0 / 4%);
}
/* .div-figuras .figuras .figura .figura-header{
    display: flex;
    justify-content: center;
    position: relative;
} */
.div-figuras .figuras .figura .figura-header{
    max-height: 180px;
    position: relative;
    overflow: hidden;
}
.div-figuras .figuras .figura .figura-header img{
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 12px;
}
.div-figuras .figuras .figura .figura-header .figura-hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.158);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
}
.div-figuras .figuras .figura .figura-header .figura-hover a{
    text-decoration: none;
    color: #fff;
    background: #c42323;
    padding: 6px 10px;
    width: 100%;
    max-width: 80px;
    text-align: center;
}
.div-figuras .figuras .figura .figura-header:hover > .figura-hover{
    opacity: 1;
}
.div-figuras .figuras .figura .figura-main{
    display: grid;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 10px 6px;
    /* border-bottom: 1px solid #f1f1f1; */
    /* text-align: center; */
    font-size: 13px;
    /* background: #f7f7f7; */
}
.div-figuras .figuras .figura .figura-main .price{
    font-size: 18px;
    color: #2196f3;
    font-weight: 400;
}
.div-figuras .figuras .figura .figura-main span{
    font-size: 14px;
    color: #000;
}
.div-figuras .figuras .figura .figura-footer{
    padding: 0px 6px;
}
.div-figuras .figuras .figura .figura-footer button{
    display: flex;
    align-items: flex-end;
    background: #c42323;
    color: #fff;
    border: 1px solid red;
    margin: 10px 0px;
    padding: 4px;
    border-radius: 2px;
}
/* -----DIV-MARCAS-------- */
/* animation: fadeInUp;
animation-duration: 1s; */
.div-mercancias{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
}
.div-mercancias .mercancia-marcas{
    display: grid;
    gap: 10px;
}
.div-mercancias .mercancia-marcas img{
    width: 100%;
    animation: fadeInUp;
    animation-duration: 1s;
}
.div-mercancias .mercancia-anuncios{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.div-mercancias .mercancia-anuncios img{
    width: 100%;
    animation: fadeInUp;
    animation-duration: 1s;
}
/* -----DIV-ABOUT------ */
.div-anuncio-fondo{
    background-image: url(../img/banner.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.div-anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.726);
    width: 100%;
    height: 100%;
    color: #fff;
}
.div-anuncio .anuncio{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
}
.div-anuncio .anuncio header{
    margin-bottom: 20px;
}
.div-anuncio .anuncio footer{
    margin-top: 20px;
}
.div-opiniones{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: center;
    height: fit-content;
}
/* -------DIV-FOOTER */
.div-footer{
    width: 100%;
    height: 100%;
    background: #000;
    color: #b1b1b1;
}
.div-footer .footer{
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 20px;
    width: 100%;
}
.div-footer .footer .footer-img img{
    width: 100%;
    max-width: 140px;
}
.div-footer .footer .footer-info .actions{
    display: flex;
    margin-bottom: 10px;
}
.div-footer .footer .footer-info input{
    width: 100%;
    padding: 8px 6px;
    font-size: 14px;
}
.div-footer .footer .footer-info .info{
    display: flex;
    gap: 40px;
}
.div-footer .footer .footer-info .info .info-rules{
    padding: 0;
    list-style: none;    
}
.div-footer .footer .footer-info .info .info-rules li a{
    color: #fff;
}
.div-footer .footer .footer-info .info .info-pagos img{
    width: 100%;
    max-width: 400px;
}
.div-footer .second-footer{
    text-align: center;
    padding: 20px 0px;
}
@media screen and (max-width:768px) {
    .content-menu .menu-nav{
        display: none;
    }
    .content-menu .menu-nav-item-movil{
        display: block;
    }
    .div-banner .sli img {
        width: 100%;
        height: 250px;
        object-fit: contain;
    }
    .div-anuncio-2item{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .figuras{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .div-mercancias{
        display: grid;
        grid-template-columns: 100%;
    }
    .div-anuncio .anuncio{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .div-opiniones{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .div-footer .footer{
        display: grid;
        grid-template-columns: 100%;
    }
    .div-footer .footer .footer-info .info{
        display: block;
    }
}




/* -------------------Figura.html----------------- */
.header-categories{
    margin: 60px 0px 10px 0px;
    display: flex;
    gap: 10px;
}
.header-categories span{
    border: 1px solid #efefef;
    background: #efefef;
    padding: 4px 24px;
    border-radius: 14px;
    font-size: 12px;
    color: #959595;
}
.div-detail-figura{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    box-shadow: 5px 5px 11px 1px #00000012;
    gap: 10px;
    padding: 20px;
}
.div-detail-figura .detail-figura-img img{
    width: 100%;
    max-width: 480px;
    max-height: 485px;
    object-fit: cover;
    object-position: top;
}
.div-detail-figura .detail-figura-info{
    position: relative;
}
.div-detail-figura .detail-figura-info main{
    font-size: 14px;
    color: #707070;
}
.div-detail-figura .detail-figura-info .info-item{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #000;
    padding: 2px 0px;
}
.div-detail-figura .detail-figura-info .price-item{
    color: #2196f3;
}
.div-detail-figura .detail-figura-info footer{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.div-detail-figura .detail-figura-info footer .btnComprar{
    background: #c81717;
    border: 1px solid #ffffff17;
    padding: 8px 10px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}
.div-detail-figura .detail-figura-info footer .btnCarrito{
    background: #ffffff;
    border: 1px solid #d5d5d5;
    padding: 8px 10px;
    border-radius: 4px;
    color: #787878;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}
.div-detail-figura .detail-figura-info .imgs-anuncio{
    display: flex;
    gap: 10px;
    padding: 20px 0px;
}
.div-detail-figura .detail-figura-info .imgs-anuncio img{
    width: 100%;
    max-width: 250px;
}
.div-detail-figura .detail-figura-info .share-figura{
    position: absolute;
    bottom: 0;
}
.div-detail-figura .detail-figura-info .share-figura div{
    display: flex;
    gap: 10px;
    font-size: 18px;
    padding: 10px 0px;
}
.div-detail-figura .detail-figura-info .share-figura div a{
    color: #ababab;
}
@media screen and (max-width:768px) {
    .div-detail-figura{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
